<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ausnahmen Taxitarif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <ion-item>Mit der Novelle des Gelegenheitsverkehrsgesetzes sind mit 1. 1. 2020 
    folgende Ausnahmen vom Taxitarif in Kraft getreten: </ion-item><br>
  <ion-item>1. Patientenbeförderungen bzw. Krankentransporte sofern diese mit 
       Krankenkassen verrechnet werden können</ion-item>
  <ion-item>2. Schülerbeförderungen</ion-item>
  <ion-item>3. Fahrten im Auftrag von Körperschaften öffentlichen Rechts 
    (z.B. Gemeinden) oder eines Verkehrsverbundes, wenn dafür 
    Rahmentarife vereinbart sind (z.B. in einer Gemeinde wird für 
    Personenbeförderungen mit PKW ein Zonentarif eingeführt) und 
    Ersatzverkehre (Schienenersatzverkehr, Ersatz für Buslinien)</ion-item><br>
  <ion-item>4. Fahrten zum Transport von Personen mit besonderen Bedürfnissen, 
      wenn dafür ein Fahrkostenzuschuss von Körperschaften öffentlichen 
      Rechts geleistet wird (Behindertentransporte)</ion-item><br>
  <ion-item>5. Fahrten im Rahmen eines Anrufsammeltaxis</ion-item><br>
  <ion-item>6. Fahrten, die über das Tarifgebiet oder die Landesgrenzen hinaus 
    erfolgen</ion-item>
  <ion-item>7. Botenfahrten</ion-item>
  <ion-item>8. Pauschalfahrten, bei denen der Fahrpreis jedenfalls über dem 
    einstündigen Zeittarif liegen muss</ion-item><br>
  <ion-item>9. Gebuchte Fahrten, die länger als 90 Minuten dauern</ion-item><br>
  <ion-button expand="block" color="light" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
