<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>App richtig nutzen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Email-Konto erforderlich</h4>
  <p>Um die App richtig zu nutzen, muss auf ihrem Mobiltelefon 
    die App "Gmail" installiert sein. Zu deren Nutzung benötigen 
    Sie ein Gmail-Konto. Öffnen Sie Ihren Browser, geben Sie die 
    Adresse https://support.google.com/mail/answer/56256?hl=de 
    ein und eröffnen Sie ihr Konto. Merken Sie sich Ihre Zugangsdaten.
    Richten Sie dann Ihr Konto auf Ihrem Smartphone ein. Anleitung dazu:
    https://support.apple.com/de-de/HT201320 für iPhone und 
    https://support.google.com/android/answer/7664951?hl=de für Android.
    Öffnen Sie Gmail ein erstes Mal, u.U. mit Eingabe Ihrer Zugangsdaten.
    Nun klappt der Versand von Fahrzeugbuchungen, Unfallfotos usw. 
    direkt aus der Taxoil-App automatisch. 
  </p> <br>
<ion-button expand="block" color="light"  (click)="goBack()">zurück</ion-button> <br>

</ion-content>
